
<div class="title-container">
    <h2>Create Event</h2>
</div>
<hr>
<div>
    <div class="container">
        <form [formGroup]="createEventForm" (ngSubmit)="createEvent()" autocomplete="off">
            <ul class="form-container">
                <li>
                    <app-text-input [formControl]="createEventForm.controls['name']" [label]='"Event name"'>
                    </app-text-input>
                </li>
                <li>
                    <app-text-input [formControl]="createEventForm.controls['location']" [label]='"Location"'>
                    </app-text-input>
                </li>
                <li>
                    <app-date-input [formControl]="createEventForm.controls['Date']" [label]='"Event date"'
                        [minDate]="minDate"></app-date-input>
                </li>
                <!-- <li>
                    <app-text-input [formControl]="createEventForm.controls['organisers']" [label]='"Organisers"'></app-text-input>
                </li> -->
                <div class="buttons-container">
                    <button [disabled]="!createEventForm.dirty" class="create-event-form-btn btn btn-success btn-block" type="submit">Create Event</button>
                    <button class="btn btn-warning" [routerLink]="['../']">Cancel</button>
                </div>
            </ul>
        </form>
    </div>
</div>