.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 7px;
}

.form-container {
    padding: 0;
}

.form-container li {
    list-style: none;
    /* display: flex;
    justify-content: center; */
    width: 300px;
}

.form-container > li > label {
  /* flex: 1 0;
  max-width: 110px; */
  text-align: center;
}

.img-thumbnail {
    margin: 25px 25px 0 25px;
    width: 300px;
    height: 300px;
}

.card {
    width: 350px;
    margin-right: 10px;
}

.card-body {
    margin-top: 0px;
}

.card-body
.uploader-buttons {
    display: flex;
    justify-content: center;
}

.uploader-buttons {
    margin-right: 19px;
}


.uploader-buttons > button {
    margin-left: 6px;
}

.create-event-form-btn {
    background-color: blue;
    color: white;
    border-radius: 3px;
    width: 150px;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
}

.buttons-container > button {
   margin-right: 8px;
}

button {
    margin-top: 10px;
    /* display: flex;
    justify-content: center; */
}

input {
    height: 30px;
    display: flex;
    align-self: center;
    /* justify-self: flex-end; */
}

.Choose-file-btn {
    margin-top: 8px;
}

.top-input {
    margin-top: 20px;
}

i {
    margin-right: 15px;
}

.body-title {
    display: flex;
    justify-content: center;
}

.body-item {
    margin-left: 10px;
}

.photos-container {
    display: flex;
    justify-content: flex-start;
    /* margin-top: 15px; */
    
}

.photo-list-item > img {
    width: 130px;
    height: 130px;
}

.photo-list-item {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

.img-small {
    margin: 0px;
}

.photo-btn-container {
    display: flex;
    justify-content: center;

}

.photo-btn-container > button {
    margin: 8px 3px;
}

.btn-trash {
    width: 30px;
}


