.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 7px;
}

.form-container {
    padding: 0;
}

.form-container li {
    list-style: none;
    width: 300px;
}

.form-container > li > label {
  text-align: center;
}

.card-image-top.img-thumbnail {
    margin: 25px 25px 0 25px;
    width: 300px;
    height: 300px;
}

.card {
    width: 350px;
    margin-right: 10px;
    height: fit-content;
}

.card-body {
    margin-top: 0px;
}

.card-body
.uploader-buttons {
    display: flex;
    justify-content: center;
}

.uploader-buttons {
    margin-right: 19px;
    margin-top: 10px;
}


.uploader-buttons > button {
    margin-left: 6px;
}

.create-event-form-btn {
    background-color: blue;
    color: white;
    border-radius: 3px;
    width: 150px;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
}

.buttons-container > button {
   margin-right: 8px;
}


input {
    height: 30px;
    display: flex;
    align-self: center;
}


.top-input {
    margin-top: 20px;
}

.body-icon {
    margin-right: 15px;
}

.body-title {
    display: flex;
    justify-content: center;
}

.body-item {
    margin-left: 10px;
}

.photos-container {
    display: flex;
    justify-content: flex-start;
    width: 800px;
    flex-wrap: wrap;

    
}

.photo-list-item > img {
    width: 130px;
    height: 130px;
    min-width: 130px;
    min-height: 130px;
}

.photo-list-item {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

.img-small {
    margin: 0px;
    
}

.photo-btn-container {
    display: flex;
    justify-content: center;

}

.photo-btn-container > button {
    margin: 8px 3px;
}

.btn-trash {
    width: 30px;
}

.file-select-btns {
    display: flex;
    justify-content: flex-start;
}

.file-select-btns > input {
    width: 230px;
}

.user-finder-input {
    /* margin-top: 20px; */
    border: solid 1px rgb(177, 177, 177);
    border-radius: 2px;
    color: black;
    width: 200px;
}

.friend-list-image {
    height: 40px;
    width: 35px;
    margin: 0 15px 5px 15px;
    
}

.mat-option {
    display: flex;
    justify-content: center;
    height: 55px;
}

.input-and-buttons {
    display: flex;
}

.input-and-buttons > button {
    height: 30px;
    line-height: 10px;
    margin-left: 10px;
}

.organisers-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.organiser-card {
    height: 250px;
    width: 150px;
    margin: 20px 10px 45px 10px;
}

.organiser-below-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}






