<div class="card member-card mb-4">
    <div class="card-img-wrapper">
    <img src="{{member.photoUrl || '../../assets/images/Placeholder user image.jpg'}}" alt="{{member.userName}}" class="card-img-top">
    <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item"><button routerLink='/friends/{{member.userName}}' class="btn btn-primary"><i class="fa fa-user"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li>
    </ul>
</div>
    <div class="card-body">
        <p><i class="fa fa-user"></i>{{member.userName}}</p>
        <p><i class="fa fa-location-arrow"></i>{{member.location}}</p>
    </div>
</div>