.container {
    margin-top: 4px;
}

.background-img {
    background: url("../../../assets/images/background.JPG") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 100vh;
width: 100%;
opacity: 70%;
z-index: -1;
position: fixed;
top: 0px;
left: 0px;
}

h2 {
    color: white;
}
 

.event-item {
    display: flex;
    justify-content: flex-start;   
    margin: 10px;
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out; 
    
}

.event-item:hover {
    transform: scale(1.03, 1.03);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.events-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.event-image {
    height: 250px;
    width: 250px;
    /* overflow: hidden; */
    margin: 0 !important
}
.event-image:hover {
    transform: scale(1.1);
    transition: transform 0.6s;
    
}

.example-card {
    width: 250px;
    padding: 16px 0px;
}

.main-img-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.event-btns-container {
    display: flex;
    justify-content: center;
}

.redirection-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;

}

.location-button-container {
    display: flex;
    justify-content: center;
}

.location-button-container > button {
    margin: 10px;
}


