<div class="background-img">
</div>
<div class="container">
    <div class="events-container">
      <div class="event-item" *ngFor="let event of events">
        <app-event-card [existingEvent]="event"></app-event-card>
      </div>
      <pagination
        [boundaryLinks]="true"
        [totalItems]="eventPagination.totalItems"
        [itemsPerPage]="eventPagination.itemsPerPage"
        [(ngModel)]="eventPagination.currentPage"
        (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
</div>