<tabset class="member-tabset">
    <tab heading="Friends" id="tab1">
        <div *ngIf="friendsPaginatedResult" class="row d-flex justify-content-center members-container">
            <div *ngFor="let friend of friendsPaginatedResult.result" class="col-2 members">
                <app-member-card [member]="friend" *ngIf="friend.isLiked"></app-member-card>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="friendsPaginatedResult">
            <pagination
              [boundaryLinks]="true"
              [totalItems]="friendsPaginatedResult.pagination.totalItems"
              [itemsPerPage]="friendsPaginatedResult.pagination.itemsPerPage"
              [(ngModel)]="likeParams.pageNumber"
              (pageChanged)="pageChangedFriends($event)">
              </pagination>
        </div>
    </tab>
    <tab heading="Other Members">
        <div *ngIf="membersObs$ | async as paginatedResult">
            <div class="row d-flex justify-content-center members-container">
                <div *ngFor="let member of paginatedResult.result" class="col-2 members">
                    <app-member-card [isLiked]="false" [member]="member"></app-member-card>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <pagination
                  [boundaryLinks]="true"
                  [totalItems]="paginatedResult.pagination.totalItems"
                  [itemsPerPage]="paginatedResult.pagination.itemsPerPage"
                  [(ngModel)]="memberParams.pageNumber"
                  (pageChanged)="pageChangedMembers($event)">
                  </pagination>
                <div class="location-btns" *ngIf="(accountService.currentUser | async) as user">
                    <button class="btn-primary" (click)="getLocalUsers(user.location)">{{ user.location }} users</button>
                    <button class="btn-primary" (click)="getAllUsers()">All users</button>
                </div>
            </div>
        </div>
    </tab>
</tabset>