.members-container {
    
    margin-top: 60px;
}

.location-btns {
    margin-left: 10px;
    margin-top: 4px;
}

.location-btns > button {
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.members {
    margin-bottom: 15px;
}


