<div *ngIf="(memberObs$ | async) as member" class="row member-detail-container">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || '../../assets/images/Placeholder user image.jpg'}}" alt="{{member.userName}}"
                alt="{{member.userName}}">
            <div class="card-body">
                <div>
                    <strong>Name: </strong>
                    <p><fa-icon class="body-icon" [icon]="faUser"></fa-icon>{{member.name}} (user name: {{member.userName}})</p>
                </div>
                <div>
                    <strong>Location: </strong>
                        <p><fa-icon class="body-icon" [icon]="faLocationArrow"></fa-icon>{{member.location}}</p>
                </div>
                <div>
                    <strong>Occupation: </strong>
                    <p><fa-icon class="body-icon" [icon]="faBriefcase"></fa-icon>{{member.occupation}}</p>
                </div>
                <div>
                    <strong>Events Attended: </strong>
                    <p><fa-icon class="body-icon" [icon]="faUsers"></fa-icon>0</p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive | timeago }}</p>
                </div>
                <div>
                    <strong>Member Since: </strong>
                    <p>{{member.created | date: 'dd MMMM yyyy'}}</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex justify-content-center">
                        <button (click)="likeMember(member)" [ngClass]="likedUser ? 'btn btn-primary' : 'btn btn-success'">Like</button>
                        <button class="btn btn-success">Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="Friends" id="tab1">
                <div *ngIf="(friendsObs$ | async) as friendsObs" class="friends-container">
                    <div class="member-detail-friends-card" *ngFor="let friend of friendsObs.result">
                        <app-member-card [member]="friend"></app-member-card>
                    </div>
                </div> 
                <div class="pagination-container">
                <pagination
              [boundaryLinks]="true"
              [totalItems]="friendsPagination.totalItems"
              [itemsPerPage]="friendsPagination.itemsPerPage"
              [(ngModel)]="friendsPagination.currentPage"
              (pageChanged)="pageChanged($event)">
              </pagination>
                </div>
            </tab>
            <tab heading="Past Events">Past event cards will go here</tab>
            <tab heading="Upcoming Events">Upcoming events cards will go here</tab>
        </tabset>
    </div>
</div>