<div *ngIf="member" class="row member-detail-container">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || '../../assets/images/Placeholder user image.jpg'}}" alt="{{member.userName}}"
                alt="{{member.userName}}">
            <div class="card-body">
                <div>
                    <strong>Name: </strong>
                    <p><i class="fa fa-user"></i>{{member.name}} (user name: {{member.userName}})</p>
                </div>
                <div>
                    <strong>Location: </strong>
                        <p><i class="fa fa-location-arrow"></i>{{member.location}}</p>
                </div>
                <div>
                    <strong>Occupation: </strong>
                    <p><i class="fa fa-briefcase"></i>{{member.occupation}}</p>
                </div>
                <div>
                    <strong>Events Attended: </strong>
                    <p><i class="fa fa-calendar"></i>0</p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive | timeago }}</p>
                </div>
                <div>
                    <strong>Member Since: </strong>
                    <p>{{member.created | date: 'dd MMMM yyyy'}}</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex justify-content-center">
                        <button class="btn btn-primary">Like</button>
                        <button class="btn btn-success">Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="Friends" id="tab1">Friends member cards will go here</tab>
            <tab heading="Past Events">Past event cards will go here</tab>
            <tab heading="Upcoming Events">Upcoming events cards will go here</tab>
        </tabset>
    </div>
</div>