button {
    margin: 10px;
    border-radius: 5px !important;
}

.member-detail-container {
    margin: 60px;
}

p {
    margin-top: 5px;
}

.body-icon {
    margin-right: 8px;
}

.friends-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.member-detail-friends-card {
    margin: 10px;
    height: 20%;
    width: 20%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    
}