<nav class="nav-container">
    <h2 class="title"><a [routerLink]="['../']">Beach Clean</a></h2>
    <ul class="nav-links">
        <li class="nav-item regular-nav-item"><a routerLink="create-event">Create Event</a></li>
        <li class="nav-item regular-nav-item"><a routerLink="events">All Events</a></li>
        <li class="nav-item regular-nav-item"><a routerLink="events">Events Near Me</a></li>
        <li *ngIf="(accountService.currentUser | async) == null" class="nav-item"><a routerLink="login">Login</a>
        </li>
        <div *ngIf="(accountService.currentUser | async) as user" class="nav-item dropdown" dropdown>
            <img src="{{user.photoUrl || '../../assets/images/Placeholder user image.jpg'}}" alt="{{user.userName}}">
            <a dropdownToggle class="dropdown-toggle text-light">Welcome {{ user.userName | titlecase }}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="edit-profile">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="friends">Friends</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
    </ul>
</nav>