
    <p *ngIf="messages.length == 0">No messages between you and {{memberUsername}}</p>
    <div class="messages-container">
        <ul *ngIf="messages.length > 0" >
            <li class="message-list-item" *ngFor="let message of messages">
                    <div [ngClass]="message.senderUsername == memberUsername ? 'message-container-right' : 'message-container-left'">
                        <img class="member-message-img" src="{{message.senderPhotoUrl ||  '../../assets/images/Placeholder user image.jpg'}}" alt="member image">
                        <p class="member-message">{{message.content}}</p>
                    </div>           
               
                <p [ngClass]="message.senderUsername == memberUsername ? 'message-sent-time-right ' : 'message-sent-time-left'">{{message.messageSent | timeago}}</p>     
                    <hr class="line">
            </li>
        </ul>
       
    </div>
    <input type="text" [(ngModel)]="messageContent" placeholder="Send message to {{memberUsername}}">
    <button (click)="sendMessage()" class="btn-primary send-btn">Send</button>


