<p *ngIf="messages.length == 0">No messages between you and {{memberUsername}}</p>
<div *ngIf="messages.length > 0" class="messages-container">
    <ul>
        <li *ngFor="let message of messages" class="message-container">
            <img class="member-message-img" src="{{message.senderPhotoUrl ||  '../../assets/images/Placeholder user image.jpg'}}" alt="member image">
            <p class="member-message">{{message.content}}</p>
        </li>
    </ul>
    <input type="text" [(ngModel)]="messageContent" placeholder="Send message to {{memberUsername}}">
    <button (click)="sendMessage()" class="btn-primary">Send</button>
</div>
